@font-face {
    font-family: 'b5reguler';
    src: url('b5plain/TheSans-B5Plain.eot');
    src: url('b5plain/TheSans-B5Plaind41d.eot?#iefix') format('embedded-opentype'),
         url('b5plain/TheSans-B5Plain.woff2') format('woff2'),
         url('b5plain/TheSans-B5Plain.woff') format('woff'),
         url('b5plain/TheSans-B5Plain.ttf') format('truetype'),
         url('b5plain/TheSans-B5Plain.svg#nunitobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'b5bold';
    src: url('b5plain/TheSans-B7Bold.eot');
    src: url('b5plain/TheSans-B7Boldd41d.eot?#iefix') format('embedded-opentype'),
         url('b5plain/TheSans-B7Bold.woff2') format('woff2'),
         url('b5plain/TheSans-B7Bold.woff') format('woff'),
         url('b5plain/TheSans-B7Bold.ttf') format('truetype'),
         url('b5plain/TheSans-B7Bold.svg#nunitolight') format('svg');
    font-weight: normal;
    font-style: normal;

}